<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-tall left-toolbar">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <span>Channels list</span>
    </div>
  </md-toolbar>
  <md-list flex>
    <md-list-item class="md-1-line" ng-repeat="channel in channels" ng-click="enterChannel(channel._id)">
      <md-icon md-svg-icon="communication:ic_messenger_24px" ng-class="{'md-primary': channelActive(channel._id)}"></md-icon>
      <p>
        <span class="prefix">#</span>
        {{channel.label}}
      </p>
      <md-icon md-svg-icon="content:ic_clear_24px"
          ng-click="deleteChannel(channel._id)"
          aria-label="Delete channel" class="md-secondary md-hue-3">
      </md-icon>
    </md-list-item>
  </md-list>
  <md-divider ></md-divider>
  <p class="disclaimer">This demo is not created by, affiliated with, or supported by Slack Technologies, Inc.</p>
  <md-divider ></md-divider>
  <form ng-submit="addChannel(newChannel); newChannel='';">
    <md-input-container flex>
      <label>Create a channel</label>
      <input ng-model="newChannel.label">
    </md-input-container>
  </form>
</md-sidenav>

  <div layout="column" class="relative" layout-fill role="main">

    <md-toolbar md-scroll-shrink layout="row" layout-align="start center" layout-padding class="md-medium md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-click="toogleLeftMenu('left')" hide-gt-md aria-label="Menu">
          <md-icon md-svg-icon="action:ic_view_headline_24px"></md-icon>
        </md-button>
        <h2>
          <a href="/channels">Cap Meteor</a>
        </h2>
        <span flex></span>
        <md-button ng-href="/sign" ng-hide="$root.currentUser">Sign In</md-button>
        <div ng-show="$root.currentUser">{{ $root.currentUser.username }}</div>
        <md-button ng-href="/logout" ng-show="$root.currentUser">Logout</md-button>
      </div>
    </md-toolbar>

		<md-content>
       <!-- Teal page content  -->
       <ng-include src="'client/views/messages/messages.ng.html'"></ng-include>
    </md-content>

  </div>
