<md-toolbar md-scroll-shrink layout="row" layout-align="start center" layout-padding class="md-medium md-hue-2">
  <div class="md-toolbar-tools">
    <md-button ng-click="toogleLeftMenu('left')" hide-gt-md aria-label="Menu">
      <md-icon md-svg-icon="action:ic_view_headline_24px"></md-icon>
    </md-button>
    <h2>
      <a href="/home">CoBiz Travel :)</a>
    </h2>
    <span flex></span>
    <md-button ng-href="/sign" ng-hide="$root.currentUser">Sign In</md-button>
    <div ng-show="$root.currentUser">{{ $root.currentUser.username }}</div>
    <md-button ng-href="/logout" ng-show="$root.currentUser">Logout</md-button>
  </div>
</md-toolbar>
